*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    border-bottom: 1px solid lightslategrey;
}

/* Header */
.cont-header{
    width: 100%;
    height: 70px;
}

.row-header{
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Items Header */
.category a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
}

.logo img{
    height: 35px;
}

.icon i{
    padding: 0 5px;
}

.icon i:hover{
    cursor: pointer;
}

/* Main */
.container-main{
    max-width: 1200px;
    margin: 0 auto;
}

.row-main{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 20px;
    margin: 50px 0;
}

.box{
    width: calc(100% / 3 - 20px);
}

.box img{
    width: 100%;
}

/* Items Main */
.heart{
    background-color: white;
    top: 10px;
    right: 0;
    padding: 0 10px;
    font-size: 2.5em;
}

.discount{
    bottom: 100px;
}

.brand{
    font-size: small;
}

.box .show{
    display: block;
}

.box .hidden{
    display: none;
}

.box:hover .show{
    display: none;
}

.box:hover .hidden{
    display: block;
}

.heart:hover{
    color: red;
}

.box:hover{
    cursor: pointer;
}

/* Footer */
.cont-footer{
    width: 100%;
}
.row-footer{
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.srl{
    font-size: larger;
}

.col-footer div a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.col-footer i{
    cursor: pointer;
}

/* reusable class */
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.text-red{
    color: red;
}

.text-white{
    color: white;
}

.f-weight{
    font-weight: 600;
}

.f-small{
    font-size: small;
}

.f-medium{
    font-size: medium;
}

.padding-5{
    padding: 5px 10px;
}

.pad-10{
    padding: 10px 0;
}

.crossed{
    text-decoration-line: line-through;
}

/* Background color */
.bg-black{
    background-color: rgb(35,39,42);
}
.bg-red{
    background-color: red;
}
.eco{
    background-color: green;
}

.bg-orange{
    background-color: orangered;
}